<!doctype html>
<html>

<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <style>
        #map {
            height: 1000px;
            width: 100%
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <h1>Google Map</h1>
            <a href="/feed">Feed</a>
            <a href="/profile">Profile</a>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>




        <div id="map">
            <div>
                <h3> My Google Map</h3>

                <script>
                    function initMap() {
                        let options = {
                            zoom: 11,
                            center: { lat: 39.9526, lng: -75.1652 }
                        }
                        let map = new google.maps.Map(document.getElementById('map'), options)

                        fetch('locations', {
                            method: 'get',
                            headers: { 'Content-Type': 'application/json' },

                        })
                            .then(response => {
                                console.log(response)
                                if (response.ok) return response.json()

                            })
                            .then(data => {
                                console.log(data)

                                    for (let j = 0; j < data.photos.length; j++) {
                                        let userAddress = data.photos[j].address;
                                        let queryAddress = userAddress.split(' ').join('+')
                                        let img = data.photos[j].img.data
                                        let userCoordinates
                                        fetch(
                                            `https://maps.googleapis.com/maps/api/geocode/json?address=${queryAddress}&key=AIzaSyB0vrbaqfRBzXOFbEGmsNORTWRdG3zNFBI`
                                        )

                                            .then(res => res.json())
                                            .then(function (result) {
                                                let locations = []

                                                let lat = result.results[0].geometry.location.lat
                                                let lng = result.results[0].geometry.location.lng
                                                let photoData = [img, lat, lng]
                                                locations.push(photoData)


                                                console.log('locations', locations);

                                                var infowindow = new google.maps.InfoWindow();

                                                var marker, i;

                                                for (i = 0; i < locations.length; i++) {

                                                    marker = new google.maps.Marker({
                                                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                                        map: map,
                                                        icon: {
                                                        // add image url instead of binary
                                                        scaledSize: new window.google.maps.Size(50, 50)
                                                        },
                                                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                                                        draggable: false,
                                                        title: "photo pin",
                                                        content: '<h1>Photography Location</h1>'
                                                    });

                                                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                                        return function () {
                                                            infowindow.setContent(
                                                                `<img src="data:image/${data.photos[j].img.contentType};base64,${data.photos[j].img.data.toString('base64')}" class="card-img" alt="..." id="img">` +
                                                                `<p>${data.photos[j].caption}</p>`
                                                                );
                                                            infowindow.open(map, marker);
                                                        }
                                                    })(marker, i));
                                                }
                                            });
                                    }
                                
                            })




      
                        // google.maps.event.addListener(map, 'click', function (event) {
                        //     placeMarker(event.latLng);
                        // });

                        // google.maps.event.addListener(map, 'click', function (event) {
                        //     placeMarker(event.latLng);
                        // });

                        // function placeMarker(location) {
                        //     let marker = new google.maps.Marker({
                        //         position: location,
                        //         map: map,
                        //         mapTypeId: google.maps.MapTypeId.ROADMAP,
                        //         draggable: true,
                        //         title: "Drag me!",
                        //         content: '<h1>Photography Location</h1>'



                        //     });

                        //     fetch('map', {
                        //         method: 'post',
                        //         headers: { 'Content-Type': 'application/json' },
                        //         body: JSON.stringify({

                        //             'location': location
                        //         })
                        //     })
                        //         .then(response => {
                        //             if (response.ok) return response.json()
                        //         })
                        //         .then(data => {
                        //             console.log(data)
                        //             map.setCenter(location);

                        //         })
                        // };


                    }






                </script>


                <script type="text/javascript"
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0vrbaqfRBzXOFbEGmsNORTWRdG3zNFBI&libraries=places">
                    </script>
                <script
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0vrbaqfRBzXOFbEGmsNORTWRdG3zNFBI&channel=2&callback=initMap"
                    async defer></script>
            </div>

            <script src="main.js"></script>

</body>

</html>