<!doctype html>
<html>

<head>
    <title>The Artist Lounge</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/d3cfcd7d11.js" crossorigin="anonymous"></script>


</head>

<body>
    <section class="main">
        <div class="mt-4 mb-5">
            <div class="container mb-4">
                <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
                        </button>
                        <ul class="navbar-nav">
                            <div id="app">
                                <div id="wrapper">
                                    <li class="nav-item">
                                        <a class="newset" href=/feed><i class="fas fa-home"></i></a>

                                    </li>
                                    <li class="nav-item">
                                        <a class="newset" href="/profile"><i class="fas fa-camera-retro"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="newset" href="/map"><i class="fas fa-map-marker-alt"></i></i></a>

                                    </li>

                                    <li class="nav-item">
                                        <img id="logo" src="logo.png">

                                    </li>

                                    </li>


                                </div>

                            </div>

                        </ul>
                </div>
                </nav>
            </div>
        </div>



        <div class="column" id="boxshadow">

            <h1 class="glow" id="mine"> My Profile </h1>

            <section class="boxshadow">
                <div id="play">
                    <div id="text">
                        <h2 class="glitch" data-text="Bookmarked Posts" class="mark"> Bookmarked Posts</h2>
                    </div>
                </div>


                <% for(var i=0; i<bookmarks.length; i++) {%>


                    <li class="message">
                        <section class="middle">
                            <div class="card-mb-3" style="max-width: 550px;" id="plant" id="contains">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="data:image/<%=bookmarks[i].img.contentType%>;base64,
                            <%=bookmarks[i].img.data.toString('base64')%>" class="card-img" alt="..." id="img">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">

                                            <h5 class="card-title" id="thick">
                                                <%= bookmarks[i].caption %>
                                            </h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </li>
                    <% } %>
            </section>
        </div>
        </div>

    </section>

    <section class="makepost">

        <h2 id="light">Upload A Post Here</h2>
        <% if (user.local.email) { %>
            <form action="/makePost" method="POST" enctype="multipart/form-data">
                <input type="text" name="address" placeholder="address" id="enterLocation">
                <input type="text" name="caption" placeholder="caption" id="caption">
                <input type="file" name="file-to-upload" id="photo">
                <button id="submit" type="submit">Submit</button>

            </form>
            </div>
            <% } %>
    </section>


    <script src="main.js"></script>

</body>

</html>