* {
  box-sizing: border-box;
}


body{
  margin-left: 5%;
  margin-right: 5%;
  font-family: monospace;
}


img{
  width:30em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10 40px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  padding-left: 20px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* nav bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent
 
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* position: relative;
  left: 800px; */
  font-size: 16px;
}


li a:hover {
  background-color: lightblue;
}

ul.navbar-nav{
  width: 100%;
}

.hide{
  display: none;
}