* {
  box-sizing: border-box;
}


body{
  margin-left: 5%;
  margin-right: 5%;
  font-family: monospace;
  background-color: aliceblue !important;
  background-image: url(background3.jpeg);
  background-size: cover;
}

h1.title{
  color: white;
  text-align: center;
  font-size: 60px;
}
img{
  width:30em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10 40px;
}

nav.navbar{
  width: 100%;
}
/* Create four equal columns that sits next to each other */


.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* nav bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent
 
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* position: relative;
  left: 800px; */
  font-size: 16px;
}


li a:hover {
  background-color: lightblue;
}

ul.navbar-nav{
  width: 100%;
  text-align: center;
}

.hide{
  display: none;
  visibility: hidden;
}

#img{
  height:300px;
  width: 150%;
  
}

.card-title{
  position: relative;
  top: 5px;
  left:100px;
  border: black;
  
  
}

.card-text{
  position: relative;
  left: 100px;
  width: 60%;
  
}

.message{
  list-style:none;
}


.card-mb-3{
  box-shadow: 5px 5px rgb(93, 65, 134), 10px 10px rgb(42, 98, 51), 15px 15px rgb(81, 68, 154) !important;
  background-color: aliceblue !important;
  padding-left: 10px;
  margin-left:25px;
  /* border: dotted black; */
}

.fa-bookmark{
  position: relative;
  left: 280px;
}

.profileposts{
  margin-left: 100px;
  padding-left: 100px;
  
}

h1.center{
  position: relative;
  left: 350px;
}

.middle{
  position: relative;
  left: 70px;
}

